body{
    background-color: orange;
}

.review-container {
    max-width: 900px;
    margin: 0 auto;
}
.customer-review {
    border: 1px solid white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: orange;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.customer-name {
    font-weight: bold;
}